body {
  background-color: #333; /* Dark grey background color */
  color: white; /* White text color */
}

button {
  border-radius: 14px;
  /* color: aqua; */
}

.boo {
  color: red;
  border-radius: 14px;
}
.poke-search-container {
  margin-bottom: 10px;
}

.type-button {
  background-color: red;
  color: white;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 10px;
  font-size: 14px;
  padding:  1px 5px 1px 7px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: rgba(0,0,0,.7) -1px -1px 0,
}

.type-button-big {
  background-color: red;
  color: white;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 10px;
  font-size: 14px;
  padding:  1px 5px 1px 7px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  max-height: 40px;
  text-shadow: rgba(0,0,0,.7) -1px -1px 0,
  
}

.type-chart {
  display: flex;
  max-width: 400px;
  flex-direction: column; /* Change to column to stack tables vertically */
  /* align-items: center;  Center tables horizontally */
}

.type-table {
  border-collapse: collapse;
  /* margin-right: 10px; Add some margin between the tables */
}

.type-head {
  width: 36px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  color: white;
  font-weight: normal;
}

.type-square {
  width: 36px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 14px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.empty {
  background-color: transparent;
}
.sidebar {
  position: sticky;
  top: 8vh; /* Adjust the top value as needed 40 */
  height: 100vh;
  width: 300px;
  overflow-y: auto;        /* Add vertical scroll if needed */
  background-color: #f8f9fa; /* Set the background color */
  padding: 15px; /* Add padding to the sidebar content */
}

.pokemon-info {
  display: flex;
  flex-direction: row;
}
